<ul id="post-list">
    {{ range .Paginator.Pages }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            <li>
                <a href='{{ .Permalink }}'>
                	<aside class="dates">
                		{{ .Date.Day }}
                		{{ index $.Site.Data.months (printf "%d" .Date.Month) }}
                		{{ .Date.Year }}
                	</aside>
                </a>
                <a href='{{ .Permalink }}'>{{ .Title }} <h2>{{ .Description | markdownify }}</h2></a>
            </li>
        {{ end }}
    {{ end }}
</ul>